/* merriweather-300 - latin_cyrillic */
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    src:
        local(''),
        url('../fonts/merriweather-v22-latin_cyrillic-300.woff2') format('woff2'), 
         url('../fonts/merriweather-v22-        illic-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* merriweather-regular - latin_cyrillic */
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src:
        local(''),
        url('../fonts/merriweather-v22-latin_cyrillic-regular.woff2') format('woff2'), 
         url('../fonts/merriweather-v22-        illic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* merriweather-300italic - latin_cyrillic */
@font-face {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 300;
    src:
        local(''),
        url('../fonts/merriweather-v22-latin_cyrillic-300italic.woff2') format('woff2'), 
         url('../fonts/merriweather-v22-        illic-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* merriweather-italic - latin_cyrillic */
@font-face {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 400;
    src:
        local(''),
        url('../fonts/merriweather-v22-latin_cyrillic-italic.woff2') format('woff2'), 
         url('../fonts/merriweather-v22-        illic-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* merriweather-700 - latin_cyrillic */
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    src:
        local(''),
        url('../fonts/merriweather-v22-latin_cyrillic-700.woff2') format('woff2'), 
         url('../fonts/merriweather-v22-        illic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* merriweather-700italic - latin_cyrillic */
@font-face {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 700;
    src:
        local(''),
        url('../fonts/merriweather-v22-latin_cyrillic-700italic.woff2') format('woff2'), 
         url('../fonts/merriweather-v22-        illic-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* pt-sans-regular - latin_cyrillic */
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src:
        local(''),
        url('../fonts/pt-sans-v12-latin_cyrillic-regular.woff2') format('woff2'), 
         url('../fonts/pt-sans-v12-latin        -regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* pt-sans-700 - latin_cyrillic */
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src:
        local(''),
        url('../fonts/pt-sans-v12-latin_cyrillic-700.woff2') format('woff2'), 
         url('../fonts/pt-sans-v12-latin        -700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* pt-sans-italic - latin_cyrillic */
@font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    src:
        local(''),
        url('../fonts/pt-sans-v12-latin_cyrillic-italic.woff2') format('woff2'), 
         url('../fonts/pt-sans-v12-latin        -italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* pt-sans-700italic - latin_cyrillic */
@font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 700;
    src:
        local(''),
        url('../fonts/pt-sans-v12-latin_cyrillic-700italic.woff2') format('woff2'), 
         url('../fonts/pt-sans-v12-latin        -700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-300italic - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/roboto-v20-latin_cyrillic-300italic.eot'); /* IE9 Compat Modes */
    src:
        local(''),
        url('../fonts/roboto-v20-latin_cyrillic-300italic.eot?#iefix') format('embedded-opentype'), 
         url(        /roboto-v20-latin_cyrillic-300italic.woff2') format('woff2'), 
         url('../fonts/roboto-v20-latin_        300italic.woff') format('woff'), 
         url('../fonts/roboto-v20-latin_cyrillic-300italic.tt        t('truetype'), 
         url('../fonts/roboto-v20-latin_cyrillic-300italic.svg#Roboto') format('svg')        ; /* Legacy iOS */
}

/* roboto-300 - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-v20-latin_cyrillic-300.eot'); /* IE9 Compat Modes */
    src:
        local(''),
        url('../fonts/roboto-v20-latin_cyrillic-300.eot?#iefix') format('embedded-opentype'), 
         url(        /roboto-v20-latin_cyrillic-300.woff2') format('woff2'), 
         url('../fonts/roboto-v20-latin_        300.woff') format('woff'), 
         url('../fonts/roboto-v20-latin_cyrillic-300.ttf') fo        etype'), 
         url('../fonts/roboto-v20-latin_cyrillic-300.svg#Roboto') format('svg')        ; /* Legacy iOS */
}

/* roboto-regular - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v20-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src:
        local(''),
        url('../fonts/roboto-v20-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), 
         url(        /roboto-v20-latin_cyrillic-regular.woff2') format('woff2'), 
         url('../fonts/roboto-v20-latin_        regular.woff') format('woff'), 
         url('../fonts/roboto-v20-latin_cyrillic-regular.ttf'        'truetype'), 
         url('../fonts/roboto-v20-latin_cyrillic-regular.svg#Roboto') format('svg')        ; /* Legacy iOS */
}

/* roboto-italic - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/roboto-v20-latin_cyrillic-italic.eot'); /* IE9 Compat Modes */
    src:
        local(''),
        url('../fonts/roboto-v20-latin_cyrillic-italic.eot?#iefix') format('embedded-opentype'), 
         url(        /roboto-v20-latin_cyrillic-italic.woff2') format('woff2'), 
         url('../fonts/roboto-v20-latin_        italic.woff') format('woff'), 
         url('../fonts/roboto-v20-latin_cyrillic-italic.ttf')        truetype'), 
         url('../fonts/roboto-v20-latin_cyrillic-italic.svg#Roboto') format('svg')        ; /* Legacy iOS */
}

/* roboto-500italic - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/roboto-v20-latin_cyrillic-500italic.eot'); /* IE9 Compat Modes */
    src:
        local(''),
        url('../fonts/roboto-v20-latin_cyrillic-500italic.eot?#iefix') format('embedded-opentype'), 
         url(        /roboto-v20-latin_cyrillic-500italic.woff2') format('woff2'), 
         url('../fonts/roboto-v20-latin_        500italic.woff') format('woff'), 
         url('../fonts/roboto-v20-latin_cyrillic-500italic.tt        t('truetype'), 
         url('../fonts/roboto-v20-latin_cyrillic-500italic.svg#Roboto') format('svg')        ; /* Legacy iOS */
}

/* roboto-500 - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v20-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
    src:
        local(''),
        url('../fonts/roboto-v20-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), 
         url(        /roboto-v20-latin_cyrillic-500.woff2') format('woff2'), 
         url('../fonts/roboto-v20-latin_        500.woff') format('woff'), 
         url('../fonts/roboto-v20-latin_cyrillic-500.ttf') fo        etype'), 
         url('../fonts/roboto-v20-latin_cyrillic-500.svg#Roboto') format('svg')        ; /* Legacy iOS */
}

/* roboto-700italic - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/roboto-v20-latin_cyrillic-700italic.eot'); /* IE9 Compat Modes */
    src:
        local(''),
        url('../fonts/roboto-v20-latin_cyrillic-700italic.eot?#iefix') format('embedded-opentype'), 
         url(        /roboto-v20-latin_cyrillic-700italic.woff2') format('woff2'), 
         url('../fonts/roboto-v20-latin_        700italic.woff') format('woff'), 
         url('../fonts/roboto-v20-latin_cyrillic-700italic.tt        t('truetype'), 
         url('../fonts/roboto-v20-latin_cyrillic-700italic.svg#Roboto') format('svg')        ; /* Legacy iOS */
}

/* roboto-700 - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v20-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
    src:
        local(''),
        url('../fonts/roboto-v20-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), 
         url(        /roboto-v20-latin_cyrillic-700.woff2') format('woff2'), 
         url('../fonts/roboto-v20-latin_        700.woff') format('woff'), 
         url('../fonts/roboto-v20-latin_cyrillic-700.ttf') fo        etype'), 
         url('../fonts/roboto-v20-latin_cyrillic-700.svg#Roboto') format('svg')        ; /* Legacy iOS */
}
