nav.navbar {
    a {
        font-family: "PT Sans", sans-serif;
    }

    .container-fluid {
        @media (min-width: 1200px) {
            max-width: 1366px;
        }
    }
}

.navbar-brand {
    display: flex;

    > span {
        display: inline-block;

        &:last-of-type {
            padding-left: 0.75em;
            align-self: center;
        }
    }
}

a.dropdown-item.disabled,
a.dropdown-item:disabled {
    color: hsla(208, 7%, 55%, 1);
}

.dropdown-item.section {
    font-weight: 700;

    &.blank {
        pointer-events: none;
        cursor: default;
    }
}

form.search {
    position: relative;
    top: -5px;
}
