figure {
	&.right,
	&.left {
		width: 40%;
		margin-bottom: 1em;
		&.half {
			width: 50%;
		}
		&.sixty {
			width: 60%;
		}
		&.fourty {
			width: 40%;
		}
		&.narrow {
			width: 28%;
		}
		&.small {
			width: 36%;
		}
	}
	&.right {
		float: right;
		margin-left: 1em;
	}
	&.left {
		float: left;
		margin-right: 1em;
	}
	img {
		width: 100%;
	}
}
figcaption {
	font-size: 0.9em;
	font-weight: 600;
	padding: 0.25rem 0.4rem;
}
