div.container {
	header {
		margin: 2em 0;
	}
	&.index header {
		margin: 2em 0;
	}
	main {
		padding: 1em 0;
		figure {
			&.right,
			&.left {
				width: 40%;
				margin-bottom: 1em;
			}
			&.right {
				float: right;
				margin-left: 1em;
			}
			&.left {
				float: left;
				margin-right: 1em;
			}
			img {
				width: 100%;
			}
		}
	}
}