div.container {
	header {
		margin: 2em 0;
	}
	&.index header {
		margin: 2em 0;
	}
	main {
		padding: 1em 0;
		figure {
			&.right,
			&.left {
				width: 40%;
				margin-bottom: 1em;
				&.half {
					width: 50%;
				}
				&.sixty {
					width: 60%;
				}
				&.fourty {
					width: 40%;
				}
				&.narrow {
					width: 28%;
				}
				&.small {
					width: 36%;
				}
			}
			&.right {
				float: right;
				margin-left: 1em;
			}
			&.left {
				float: left;
				margin-right: 1em;
			}
			img {
				width: 100%;
			}
		}
	}
}
aside.summary {
	float: right;
	margin-left: 1.25em;
	margin-bottom: 1.25em;
	border: 2px outset #888;
	background-color: #f8f8f8;
	width: 35%;
	padding: 1.5em;
}

