body > .container {
  max-width: 950px;
}
main {
  max-width: 950px;
  margin: 0 auto;
}
div.container {
  header {
    margin: 2em 0;
  }
  &.index header {
    margin: 2em 0;
  }
  main {
    padding: 1em 0;
  }
}
aside.summary {
  float: right;
  margin-left: 1.25em;
  margin-bottom: 1.25em;
  border: 2px outset #888;
  background-color: #f8f8f8;
  width: 35%;
  padding: 1.5em;
}
