table.school.class10 {
	th {
		background-color: #ddd;
		padding: 0 1em;
	}
	td {
		padding: 0 1em;
	}
}
table#chalbukhan {
	td {
		text-align: left;
	}
}
table.bio-main-dates {
	td:nth-child(2) {
		text-align: left;
	}
}
.swiper-slide {
	height: auto;
}