h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
p,
li {
  font-family: Merriweather, serif;
}
h1 {
  font-size: 2.2rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.4rem;
  margin-top: 1.4em;
}
h4 {
  font-size: 1.2rem;
}
h5 {
  font-size: 1rem;
}
blockquote {
  font-style: italic;
  padding: 0 2em;
}
.dataTables_wrapper {
  margin: 0 auto 2em;
}
.table--title {
  font-weight: bold;
}
table {
  border-spacing: 1;
  border-collapse: collapse;
  overflow: hidden;
  width: 100%;
  margin: 0 auto 2em;
  position: relative;
  font-family: sans-serif;
  thead tr {
    // background-color: hsla(0, 0%, 92%, 1);
    border-bottom: 2px solid hsla(0, 0%, 30%, 1);
  }
  // thead {
  // 	background: #b8b8b8;
  // 	background: -moz-linear-gradient(to bottom,  hsla(0,0%,75%,1) 0%,hsla(0,0%,82%,1) 10%,hsla(0,0%,92%,1) 72%,hsla(0,0%,80%,1) 100%);
  // 	background: -webkit-linear-gradient(to bottom,  hsla(0,0%,75%,1) 0%,hsla(0,0%,82%,1) 10%,hsla(0,0%,92%,1) 72%,hsla(0,0%,80%,1) 100%);
  // 	background: linear-gradient(to bottom,  hsla(0,0%,75%,1) 0%,hsla(0,0%,82%,1) 10%,hsla(0,0%,92%,1) 72%,hsla(0,0%,80%,1) 100%);
  // 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8b8b8', endColorstr='#7d7d7d',GradientType=0 );
  // 	border-top: 3px solid #000;
  // 	color: #000;
  // }
  * {
    position: relative;
  }
  th {
  }
  td,
  th {
    padding: 2px 8px 4px;
    text-align: center;
  }
  thead tr {
    height: 2.5em;
    font-weight: bold;
  }
  tbody tr {
    height: 3.6em;
    line-height: 1.2;
    &:last-child {
      border: 0;
    }
    &:nth-child(even) {
      background-color: #f5f5f5;
    }
    &:hover {
      color: #555555;
      background-color: #f5f5f5;
      cursor: pointer;
    }
  }
  th {
    line-height: 1.2;
    font-weight: unset;
  }
}
