<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    {{- $lighthouse := resources.Get "images/lighthouse.svg" -}}
    <a class="navbar-brand" href="/"><span><img width="60" src="{{ $lighthouse.Permalink }}" /></span></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarBio" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Биография</a>
          <div class="dropdown-menu" aria-labelledby="navbarBio">

            <a class="dropdown-item section" href="/bio/">Основные даты</a>
            <a class="dropdown-item" href="/bio/self">Автобиография</a>
            <a class="dropdown-item" href="/bio/pension">Есть ли жизнь на пенсии</a>

            <div class="dropdown-divider"></div>

            <a class="dropdown-item section blank">Родственники</a>
            <a class="dropdown-item" href="/relatives/second_wife">Как я женился во второй раз</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarBio" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Организации</a>
          <div class="dropdown-menu" aria-labelledby="navbarBio">

            <a class="dropdown-item section" href="/organizations/">Введение</a>

            <div class="dropdown-divider"></div>

            <a class="dropdown-item section blank">Школы</a>

            <a class="dropdown-item" href="/schools/tshi">Тенькинская средняя школа-интернат</a>
            <a class="dropdown-item" href="/schools/magadan-1-memories">Магаданская СШ-1. Воспоминания</a>
            <a class="dropdown-item" href="/schools/magadan-1-ucheniki">Магаданская СШ-1. Ученики</a>
            <a class="dropdown-item" href="/schools/magadan-1-uchitelya">Магаданская СШ-1. Учителя</a>
            <a class="dropdown-item" href="/schools/magadan-1-10a">Магаданская СШ-1. 10А</a>
            <a class="dropdown-item" href="/schools/magadan-1-thoughts">Магаданская СШ-1. Размышления</a>

            <div class="dropdown-divider"></div>

            <a class="dropdown-item section blank">ДВГУ</a>
            <a class="dropdown-item" href="/organizations/dvgu-memories">Воспоминания о ДВГУ</a>

            <div class="dropdown-divider"></div>

            <a class="dropdown-item section blank">ДВНИГМИ</a>
            <a class="dropdown-item" href="/organizations/sea-ploughmen">Исследовательские суда ДВНИГМИ. Пахари моря</a>
            <a class="dropdown-item" href="/organizations/research-vessels-dvnigmi">Исследовательские суда ДВНИГМИ (продолжение)</a>

            <div class="dropdown-divider"></div>

            <a class="dropdown-item section blank" href="/organizations/toi">ТОИ</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarBio" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Океанография</a>
          <div class="dropdown-menu" aria-labelledby="navbarBio">

            <a class="dropdown-item section" href="/oceanography/">Введение</a>

            <div class="dropdown-divider"></div>

            <a class="dropdown-item section" href="/oceanography/problems">Проблемы океанографического общества</a>
            <a class="dropdown-item" href="/oceanography/use">Польза науки о море</a>

            <div class="dropdown-divider"></div>

            <a class="dropdown-item section" href="/oceanography/kurosio">Куросио</a>

            <div class="dropdown-divider"></div>

            <a class="dropdown-item section" href="/oceanography/creams">CREAMS</a>

            <div class="dropdown-divider"></div>

            <a class="dropdown-item section" href="/oceanography/argo-project">Проект АРГО</a>

            <div class="dropdown-divider"></div>

            <a class="dropdown-item section blank">Океанография Японского моря</a>
            <a class="dropdown-item" href="/oceanography/japan-sea-maxumum-depth-problem">Проблема максимальной глубины</a>
            <a class="dropdown-item" href="/oceanography/japan-sea-validity-regional-research">Достоверность региональных исследований</a>
            <a class="dropdown-item" href="/oceanography/nevelskogo-strait">Пролив Невельского (англ.)</a>
            <a class="dropdown-item" href="/oceanography/laperouse-strait">Пролив Лаперуза (англ.)</a>
            <a class="dropdown-item" href="/oceanography/tartar-strait">Татарский пролив (англ.)</a>

            <div class="dropdown-divider"></div>

            <a class="dropdown-item section blank">Океанография Залива Петра Великого<an>
                <a class="dropdown-item" href="/oceanography/peter-the-great-bay-introduction">Введение</a>
                <a class="dropdown-item" href="/oceanography/peter-the-great-bay-waters-structure">Структура вод</a>
                <a class="dropdown-item" href="/oceanography/peter-the-great-bay-temperature-and-salinity">Температура и солёность</a>
                <a class="dropdown-item" href="/oceanography/peter-the-great-bay-water-density">Плотность воды</a>

                <div class="dropdown-divider"></div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarResearch" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Статьи и книги</a>
          <div class="dropdown-menu" aria-labelledby="navbarResearch">

            <a class="dropdown-item section" href="/research/">Исследовательские суда России</a>
            <a class="dropdown-item" href="/research/">Предисловие</a>
            <a class="dropdown-item" href="/research/vessels">Введение</a>
            <a class="dropdown-item" href="/research/overview">Обзор литературы</a>
            <a class="dropdown-item" href="/research/history">История научного флота</a>
            <a class="dropdown-item" href="/research/projects">Заводы и проекты</a>
            <a class="dropdown-item" href="/research/numbers">Количество НИС</a>
            <a class="dropdown-item" href="/research/scientific-vessels">Ведомственные суда</a>
            <a class="dropdown-item" href="/research/expedition-vessels">Экспедиционный состав судов ДВНИГМИ</a>
            <a class="dropdown-item" href="/research/names">Имена судов</a>
            <a class="dropdown-item" href="/research/dismissal">Списание</a>

            <div class="dropdown-divider"></div>

            <a class="dropdown-item section blank">Статьи и рукописи</a>

            <div class="dropdown-divider"></div>

            <a class="dropdown-item section blank" href="/articles/newspaper">Газетные</a>
            <a class="dropdown-item" href="/articles/dvu-20090812">Как вы яхту назовёте… (ДВУ, 12.08.2009)</a>
            <a class="dropdown-item" href="/articles/dvu-20180326">Море между Кореей и Японией (ДВУ, 26.03.2018)</a>

            <div class="dropdown-divider"></div>

            <a class="dropdown-item section blank">Рецензии</a>
            <a class="dropdown-item" href="/reviews/grishin">на диссертацию Гришина М.Г.</a>

            <div class="dropdown-divider"></div>

            <a class="dropdown-item section blank">Отзывы</a>
            <a class="dropdown-item" href="/reviews/yurasov">на статью Юрасова</a>

            <div class="dropdown-divider"></div>

            <a class="dropdown-item section blank">Биографические</a>
            <a class="dropdown-item" href="/articles/gomoyunov">Гомоюнов Константин Азарьевич</a>
            <a class="dropdown-item" href="/articles/biryulin">Бирюлин Гавриил Михайлович</a>
            <a class="dropdown-item" href="/articles/maidel">Майдель Эдуард Владимирович</a>
            <a class="dropdown-item" href="/articles/vanin">Ванин Николай Сергеевич</a>
            <a class="dropdown-item" href="/articles/firsov-vanin">Николай Ванин – одноклассник, однокурсник, товарищ</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarResearch" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Рассказы</a>
          <div class="dropdown-menu" aria-labelledby="navbarResearch">
            <a class="dropdown-item" href="/misc/">Введение</a>

            <div class="dropdown-divider"></div>

            <a class="dropdown-item section blank">Родина</a>
            <a class="dropdown-item" href="/misc/motherland">О чувстве Родины</a>
            <a class="dropdown-item" href="/misc/geography-history">География с историей</a>
            <a class="dropdown-item" href="/misc/history-geography">История с географией</a>
            <a class="dropdown-item" href="/misc/chelyuskin">Челюскинский бардак</a>
            <a class="dropdown-item" href="/misc/streets">Улицы Владивостока</a>
            <a class="dropdown-item" href="/misc/mass-executions">Памятник на месте советских расстрелов</a>

            <div class="dropdown-divider"></div>

            <a class="dropdown-item section blank">Ориентирование</a>
            <a class="dropdown-item" href="/friends/orient">Про ориентирование</a>
            <a class="dropdown-item" href="/misc/orientation">Про ориентирование 2</a>
            <a class="dropdown-item" href="/orientation/sadikov">Могиканин ориентирования</a>

            <div class="dropdown-divider"></div>

            <a class="dropdown-item section blank">Мои интересы</a>
            <a class="dropdown-item" href="/misc/hunt">Про охоту</a>
            <a class="dropdown-item" href="/misc/duskanya">Женщины и дети Дусканьи</a>
            <a class="dropdown-item" href="/misc/swimming">Купание в Амурском заливе</a>
            <a class="dropdown-item" href="/misc/japanese-language">Как я учил японский язык</a>
            <a class="dropdown-item" href="/misc/shame">Мне стыдно</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarResearch" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Новости</a>
          <div class="dropdown-menu" aria-labelledby="navbarResearch">
            <a class="dropdown-item" href="/news/20230521-oceanography-peter-the-great-bay">Океанография Залива Петра Великого</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0 search" action="{{ "search" | absURL }}">
        <input class="form-control mr-sm-2" id="search-query" name="s" type="search" placeholder="Поиск" aria-label="Поиск" />
      </form>
    </div>
  </div>
</nav>
