<script src="https://cdn.jsdelivr.net/npm/fuse.js@7.0.0"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/mark.es6.min.js" integrity="sha512-jZSRKDD86PmExf0ZoXQEMxhtxvLtOxo2xMJwgnx3VE/5VT5c8LCsnvut4wK3fIdFyO4szlbz/2tpg+xulnJDyQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

{{ $localjs := resources.Get "js/search.js" | resources.Minify }}
{{ $securelocaljs := $localjs | resources.Fingerprint "sha512" }}
<script type="text/javascript" src="{{ $securelocaljs.Permalink }}" integrity="{{ $securelocaljs.Data.Integrity }}" crossorigin="anonymous" defer></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-157724393-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-157724393-1');
</script>

<script>
    window.ga = function () { ga.q.push(arguments) };
    ga.q = [];
    ga.l = +new Date;
    ga('create', 'UA-157724393-1', 'auto');
    ga('set', 'transport', 'beacon');
    ga('send', 'pageview')
</script>

<script src="https://www.google-analytics.com/analytics.js" async></script>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-6191b3c0b8597722"></script>

<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/21029720.js"></script>
<!-- End of HubSpot Embed Code -->