{{/*
{{ $original := .Page.Resources.GetMatch (printf "*%s*" (.Get 0)) }}
{{ $size := .Get 1 }}
{{ $caption := .Get 2 }}

{{ .Scratch.Set "image" ($original.Resize (printf "%dx" $size)) }}
{{ .Scratch.Set "img2x" ($original.Resize (printf "%dx" $size)) }}
{{ $image := .Scratch.Get "image" }}
{{ $img2x := .Scratch.Get "img2x" }}
<figure>
	<img style="max-width: 100%; width: auto; height: auto;" src="{{ $image.RelPermalink }}" srcset="{{ $img2x.RelPermalink }} 2x" width="{{ $image.Width }}" height="{{ $image.Height }}" alt="{{$caption}}">
	<figcaption>{{$caption}}</figcaption>
</figure>

*/}}